body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container {
    background-color: #8BA4B0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

button {
    font-weight: bold;
    width: 10%;
    height: 10%;
    border-radius: 8px;
    margin-right: 2%;
}

p {
    margin: 2%;
    font-size: 2rem;
}